@{
    ViewData["Title"] = "Pibotanic";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css">
    <title>Pibotanic</title>
</head>
<body>
    <article class="article1">
        <h1>"LA NATURALEZA A UN SOLO CLICK"</h1>
    </article>
    <article class="article2">
        <h1>NATURALEZA</h1>
        <div class="caja1">
            <div class="imagen2">
                <a href="#"><img src="~/Imagenes/imgP/semillas2.jpg" width="615px" height="300px"></a>
            </div>
            <div class="imagen3">
                <a href="#"><img src="~/Imagenes/imgP/herramientas.jpg" width="700px" height="675px"></a>
            </div>
            <div class="imagen1">
                <a href="#"><img src="~/Imagenes/imgP/macetas.jpg" width="500px" height="300px"></a>
            </div>
            <div class="imagen4">
                <a href="#"><img src="~/Imagenes/imgP/plantas.jpg" width="1300px" height="700px"></a>
            </div>
        </div>
    </article>
</body>
</html>