@{
    ViewData["Title"] = "Pibotanic";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Index.css">
    <title>Pibotanic</title>
</head>
<body>
    <div class="FONDO">
        <div class="frase">
            <p>
                "La naturaleza a solo un click"
            </p>
        </div>

        <div class="plantalogo">
        </div>
        <div class="circulo">
            <h2 class="losh2">
                Pibotanic
            </h2>
        </div>
    </div>

    <h1 class="losh1">
        ¿Te interesa todo acerca de plantas?
        Aprende a como sembrarlas y cuidarlas...
    </h1>

    <div class="abono">

        <h3 class="losh3">Tierra</h3>
        <p>
            Se denomina suelo o tierra a la parte superficial de la corteza terrestre, biológicamente activa, que proviene de la desintegración o alteración física y química de las rocas y de los residuos de las actividades de seres vivos que se asientan sobre él.
            Para poder sembrar todo lo que queramos, primero necesitamos de una buena tierra, ya que nuestros cultivos necesitan tierra fertil.
            Podemos crear nuestro propio abono casero para tierra con desechos organicos.
        </p>
        <p class="lista">
            1.-Realizar unos agujeros en la superficie de un recipiente pequeño de un metro de profundidad aproximadamente (o en un contenedor grande o mediano, según nuestras necesidades). <br>
            2.-Colocar dentro 4 o 5 dedos de tierra (o más según el contenedor).<br>
            3.-Añadir desechos orgánicos (ejemplos mencionados anteriormente). Es importante que no sean desechos procedentes de ningún producto animal.<br>
            4.-Tapar con un poco más de tierra.<br>
            5.-Cada cierto tiempo (aproximadamente dos semanas), remover bien con una pala, llevando los restos que están abajo a la superficie y viceversa. Este paso es importante para airear nuestro abono casero.<br>
        </p>
        <img src="~/Imagenes/ImgIndex/jardinero.jpg">
        <h1 class="losh1">
            Semillas faciles de germinar
        </h1>
        <div class="conteiner">

            <div class="card">

                <img src="~/Imagenes/ImgIndex/pimientos.jpg">

                <h4 class="losh4">Pimientos</h4>
                <p>
                    Los pimientos inicialmente están verdes pero cuando se maduran se ponen rojos, anaranjados, amarillos, morados e incluso pueden ponerse de un color chocolate
                </p>
                <a href="https://www.youtube.com/watch?v=oWVPWGhofnU">Aprender</a>
</div>

            <div class="card">

                <img src="~/Imagenes/ImgIndex/moras.jpg">

                <h4 class="losh4">Moras y frambesas</h4>
                <p>
                    Las zarzas, como las moras y las frambuesas, brindan frutos deliciosos para usted y su familia, así como ricos bocadillos para las aves y las mariposas.
                </p>
                <a href="https://www.youtube.com/watch?v=oWVPWGhofnU">Aprender</a>

            </div>

            <div class="card">

                <img src="~/Imagenes/ImgIndex/lechuga.jpg">

                <h4 class="losh4">Lechuga</h4>
                <p>
                    Para la mayoría de los jardineros, el verano llega muy pronto como para sembrar semillas de repollo ya que este crece en climas más frescos.
                </p>
                <a href="https://www.youtube.com/watch?v=oWVPWGhofnU">Aprender</a>

            </div>

            <div class="card">

                <img src="~/Imagenes/ImgIndex/pepinos.jpg">

                <h4 class="losh4">Pepino</h4>
                <p>
                    Los pepinos de enredadera necesitan espacio, a menos que usted los siembre en macetas. Agregue un enrejado para mantener su cultivo más saludable y productivo.
                </p>
                <a href="https://www.youtube.com/watch?v=oWVPWGhofnU">Aprender</a>

            </div>

            <h1 class="losh1">
                Pequeño Huerto de Jardin
            </h1>

            <div class="card">

                <img src="~/Imagenes/ImgIndex/tomates.jpg">
                <h4 class="losh4">Tomates</h4>
                <p>
                    Estos frutos tropicales de clima caliente son fáciles de cultivar en macetas decorativas grandes o en macetas para vegetales.
                </p>
                <a href="https://www.youtube.com/watch?v=oWVPWGhofnU">Aprender</a>

            </div>


        </div>
    </div>



</body>
</html>