
@{
    ViewData["Title"] = "MetodoPG";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pagos</title>
    <link href='https://www.soengsouy.com/favicon.ico' rel='icon' type='image/x-icon' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/pago.css">
</head>
<body>

    <div class="row">
        <div class="col-75">
            <div class="Metodo">
                <form id="validate" action="/action_page.php">
                    
             
                        <div class="col-50">
                            <h3>Metodos de Pago</h3>
                            <div class="icon-container">
                            </div>

                            <b><label for="cname">Por el momento solo contamos con pagos referenciados</label></b>
                            <p>Bancos a los que estamos asociados:</p>
                            <p>BBVA Bancomer:</p>
                            <p>Numero de deposito: 6548-5693-2541</p>
                            <img src="https://www.bbva.com/wp-content/uploads/2019/07/bbva-logo-nuevo-cuadrado.png" width="100px" height="50px">
                            <p>Santander</p>
                            <p>Numero de deposito: 7823-1445-6287</p>
                            <img src="https://logodownload.org/wp-content/uploads/2017/05/santander-logo-3.png" width="100px" height="50px">
                            <p>Banorte</p>
                            <p>Numero de deposito: 4252-8796-3201</p>
                            <img src="https://www.banorte.com/cms/redes_sociales/Banorte.jpg" width="100px" height="50px">
                </form>
            </div>
        </div>
    </div>
</body>
</html>

