@{
    ViewData["Title"] = "Contacto";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Cont.css">
    <title>Contacto</title>
</head>
<html lang="en">
<body>
    <div class="container">
        <div class="caja2">
            <h2>ENVIOS A TODA LA REPUBLICA MEXICANA</h2>
            <h3>Atención a ventas en línea</h3>
            <li>Teléfono: +1 5202080021</li>
            <li>Email: pibotanic5614@gmail.com</li>
            <h3>Redes Sociales</h3>
            <li>
                <a href="https://www.facebook.com/
            ">Facebook</a>
            </li>
            <li>
                <a href="https://www.instagram.com/
            ">Instagram</a>
            </li>
            <li>
                <a href="https://discord.gg/nafVshrz">Discord</a>
            </li>
        </div>
        <br>
        <div class="caja3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.5164163918585!2d-99.19789334959546!3d19.39008084699936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201d697f2e0d1%3A0x5208a25581ddc12c!2sCalle%2010%2C%20Col.%20Cristo%20Rey%2C%2001150%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1623175692363!5m2!1ses-419!2smx" width="780" height="580" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</body>
</html>