body {
    
}

.article1 {
    width:100%;
    height: 600px;
    background-image: url(../Imagenes/imgP/imagen5.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
}

    .article1 img {
        padding: 50px;
    }

    .article1 h1 {
        color: rgb(255, 255, 255);
        font-size: 50px;
    }

.article2 h1 {
    text-align: center;
    padding: 60px;
    font-size: 50px;
}

.caja1 {
    height: 1500px;
    background-color: rgb(5, 236, 121);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagen1 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 20px;
}

.imagen2 {
    padding: 20px;
}

.imagen3 {
    grid-row: 1/3;
    grid-column: 2/3;
    padding: 20px;
}

.imagen4 {
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 20px;
    text-align: center;
}
